@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  font-family: "inter";
}

html {
  position: relative;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: auto;
  height: auto;
  /* border: 1px white solid; */
  position: absolute;
  top: 10vh;
  right: 9vw;
  z-index: 10000;
}

.nav-btn--inactive {
  font-size: 1rem;
  border: 0.15rem rgb(17, 52, 0) solid;
  padding: 0.5rem;
  color: white;
  border-radius: 0.7rem;
}

.nav-btn--inactive:hover {
  font-size: 1rem;
  border: 0.15rem rgb(17, 52, 0) solid;
  padding: 0.5rem;
  color: rgb(62, 149, 18);
  border-radius: 0.7rem;
  cursor:pointer;
}

.nav-btn--active {
  font-size: 1rem;
  border: 0.15rem rgb(17, 52, 0) solid;
  padding: 0.5rem;
  color: white;
  border-radius: 0.7rem;
  background-color: rgb(17, 52, 0);
}

